header {
  border: 1px solid red;
  h1 {
    color: green;
  }
}

main {
  border: 1px solid blue;
  h1 {
    color: red;
  }
}

footer {
  border: 1px solid green;
  h1 {
    color: blue;
  }
}

.icon {
  display: inline-block;
}